* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: Raleway;font-display: swap;src: url("../assets/fonts/Raleway-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Raleway;font-display: swap;src: url("../assets/fonts/Raleway-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Raleway;font-display: swap;src: url("../assets/fonts/Raleway-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Raleway;font-display: swap;src: url("../assets/fonts/Raleway-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Raleway;font-display: swap;src: url("../assets/fonts/Raleway-Italic.woff2") format("woff2");font-weight: 400;font-style: italic;}
@font-face {font-family: Cormorant;font-display: swap;src: url("../assets/fonts/Cormorant-SemiBoldItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Cormorant;font-display: swap;src: url("../assets/fonts/Cormorant-MediumItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Cormorant;font-display: swap;src: url("../assets/fonts/Cormorant-LightItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Cormorant;font-display: swap;src: url("../assets/fonts/Cormorant-Italic.woff2") format("woff2");font-weight: 400;font-style: italic;}
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #4E3529;
  font-family: "Raleway";
  font-size: 1.125rem;
  background-color: #F5F5F5;
  opacity: 0;
  transition: all 0.8s ease;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
[data-fls-loaded] body {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 86.25rem;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s;
}
.header.--header-scroll {
  background-color: #F5F5F5;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5rem;
  align-items: center;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.header__container {
  transition: all 0.3s ease;
}

.menu__body {
  display: flex;
  justify-content: end;
}
.menu__list {
  display: flex;
}
.menu__list {
  align-items: center;
  flex-wrap: wrap;
}
.menu__item span {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 150%;
  text-transform: uppercase;
  color: #F5F5F5;
}
.menu__link {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.3125rem;
  color: #F5F5F5;
  position: relative;
  transition: color ease 0.5s;
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 0.3125rem;
  bottom: -0.25rem;
  width: 0;
  height: 0.125rem;
  background-color: #CD4F83;
  transition: width 0.5s ease;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  padding-bottom: 2.75rem;
}
.footer__top {
  background: #4E3529;
  padding-top: 2.75rem;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer__content-text {
  color: #F5F5F5;
  max-width: 64.625rem;
}
.footer__content-text p {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 500;
}
.footer__content-text p {
  line-height: 93%;
  text-transform: uppercase;
}
.footer__content-text p:nth-child(3) {
  line-height: 114%;
}
.footer__content-logo {
  max-width: 16.5rem;
  max-height: 4.8125rem;
  padding-top: 0.625rem;
}
.footer__content-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__image {
  max-width: 14.75rem;
  max-height: 28.875rem;
  margin-right: -3.125rem;
  margin-top: -2.75rem;
}
.footer__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__contacts {
  padding-top: 2.5rem;
  display: flex;
  justify-content: end;
}
.footer__contacts-link {
  font-weight: 500;
}
.footer__contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.069375rem solid #DE4F2C;
  border-radius: 2.5rem;
  padding: 1.875rem;
  max-width: 20rem;
  height: 4.375rem;
  transition: background-color ease 0.5s, transform ease 0.5s, border ease 0.5s, color ease 0.5s;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem;
  border: 0.069375rem solid #f5f5f5;
  border-radius: 2.5rem;
  max-width: 17.5rem;
  background-color: rgba(255, 255, 255, 0.08);
  font-weight: 500;
  font-size: 1.125rem;
}
.button {
  color: #F5F5F5;
  transition: transform 0.5s ease, background-color 0.5s ease;
}
.button-accent {
  background-color: #DE4F2C;
  border: 0.069375rem solid transparent;
}
@media (max-width: 61.99875em) and (width <= 20em) {
  .menu__body::before {
    max-height: 5rem;
  }
}
@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    flex-direction: column;
    background-color: #4E3529;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #4E3529;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    gap: 1.25rem;
    align-items: start;
    flex: 1 1 auto;
    padding-top: 4.375rem;
  }
  .menu__item {
    display: flex;
    gap: 0.9375rem;
    align-items: center;
  }
  .menu__link {
    font-family: "Cormorant";
    font-style: italic;
    font-weight: 400;
    font-size: 1.875rem;
    text-transform: uppercase;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 4.6875rem;
    height: 2.1875rem;
    z-index: 5;
    background-color: #DE4F2C;
    padding: 0.625rem 1.25rem;
    border-radius: 2.5rem;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 1.75rem;
    height: 0.125rem;
    background-color: #F5F5F5;
    border-radius: 0.625rem;
  }
  .icon-menu::before {
    top: 0.625rem;
  }
  .icon-menu::after {
    bottom: 0.625rem;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: translateX(-50%) rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: translateX(-50%) rotate(45deg);
  }
  .footer__contacts {
    flex-direction: column;
  }
  .footer__contacts-link {
    max-width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    gap: 5rem;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__content-text p {
    line-height: 1.1;
  }
  .footer__content-logo {
    max-width: 12.5rem;
    max-height: 3.75rem;
  }
  .footer__image {
    margin-top: 0rem;
    max-width: 100%;
    max-height: 100%;
    height: 43.75rem;
  }
  .footer__copy {
    flex-direction: column;
    align-items: center;
  }
}
@media (width <= 20em) {
  .header.--header-scroll {
    max-height: 5rem;
  }
  .header__container {
    max-height: 5rem;
  }
  .menu__body {
    gap: 0.9375rem;
  }
  .menu__list {
    gap: 0.625rem;
  }
  .footer__content-text p {
    font-size: 1.5rem;
  }
  .footer__content-text p:nth-child(2) {
    padding-top: 0.9375rem;
  }
  .footer__content-text p:nth-child(3) {
    font-size: 1.25rem;
  }
  .footer__content-text p:nth-child(3) {
    padding-top: 2.5rem;
  }
  .footer__contacts {
    gap: 1.25rem;
  }
  .footer__contacts-link {
    font-size: 1.125rem;
  }
  .footer__copy {
    padding-top: 1.875rem;
  }
  .button {
    padding-right: 1.1875rem;
  }
  .button {
    padding-left: 1.1875rem;
  }
  .button {
    padding-top: 0.75rem;
  }
  .button {
    padding-bottom: 0.75rem;
  }
}
@media (max-width: 61.99875em) and (width > 86.25em) {
  .menu__body::before {
    max-height: 6.25rem;
  }
}
@media (width > 20em) and (width <= 86.25em) {
  .header.--header-scroll {
    max-height: clamp( 5rem , 4.62264150943125rem  +  1.8867924528vw , 6.25rem );
  }
  .header__container {
    max-height: clamp( 5rem , 3.8679245283rem  +  5.6603773585vw , 8.75rem );
  }
  .menu__body {
    gap: clamp( 0.9375rem , 0.46580188679375rem  +  2.358490566vw , 2.5rem );
  }
  .menu__list {
    gap: clamp( 0.625rem , 0.05896226415rem  +  2.8301886792vw , 2.5rem );
  }
  .footer__content-text p {
    font-size: clamp( 1.5rem , 0.93396226415rem  +  2.8301886792vw , 3.375rem );
  }
  .footer__content-text p:nth-child(2) {
    padding-top: clamp( 0.9375rem , 0.84316037735625rem  +  0.4716981132vw , 1.25rem );
  }
  .footer__content-text p:nth-child(3) {
    font-size: clamp( 1.25rem , 0.79716981131875rem  +  2.2641509434vw , 2.75rem );
  }
  .footer__content-text p:nth-child(3) {
    padding-top: clamp( 2.5rem , 1.783018867925rem  +  3.5849056604vw , 4.875rem );
  }
  .footer__contacts {
    gap: clamp( 1.25rem , -0.63679245283125rem  +  9.4339622642vw , 7.5rem );
  }
  .footer__contacts-link {
    font-size: clamp( 1.125rem , 1.08726415094375rem  +  0.1886792453vw , 1.25rem );
  }
  .footer__copy {
    padding-top: clamp( 1.875rem , 1.8183962264125rem  +  0.2830188679vw , 2.0625rem );
  }
  .button {
    padding-right: clamp( 1.1875rem , -0.4540094339625rem  +  8.2075471698vw , 6.625rem );
  }
  .button {
    padding-left: clamp( 1.1875rem , -0.4540094339625rem  +  8.2075471698vw , 6.625rem );
  }
  .button {
    padding-top: clamp( 0.75rem , 0.4103773584875rem  +  1.6981132075vw , 1.875rem );
  }
  .button {
    padding-bottom: clamp( 0.75rem , 0.4103773584875rem  +  1.6981132075vw , 1.875rem );
  }
}
@media (min-width: 61.99875em) {
  .menu__item span {
    display: none;
  }
  .--header-scroll .menu__link {
    color: #785342;
  }
}
@media (max-width: 61.99875em) and (width > 20em) and (width <= 86.25em) {
  .menu__body::before {
    max-height: clamp( 5rem , 4.62264150943125rem  +  1.8867924528vw , 6.25rem );
  }
}
@media (width > 86.25em) {
  .header.--header-scroll {
    max-height: 6.25rem;
  }
  .header__container {
    max-height: 8.75rem;
  }
  .menu__body {
    gap: 2.5rem;
  }
  .menu__list {
    gap: 2.5rem;
  }
  .footer__content-text p {
    font-size: 3.375rem;
  }
  .footer__content-text p:nth-child(2) {
    padding-top: 1.25rem;
  }
  .footer__content-text p:nth-child(3) {
    font-size: 2.75rem;
  }
  .footer__content-text p:nth-child(3) {
    padding-top: 4.875rem;
  }
  .footer__contacts {
    gap: 7.5rem;
  }
  .footer__contacts-link {
    font-size: 1.25rem;
  }
  .footer__copy {
    padding-top: 2.0625rem;
  }
  .button {
    padding-right: 6.625rem;
  }
  .button {
    padding-left: 6.625rem;
  }
  .button {
    padding-top: 1.875rem;
  }
  .button {
    padding-bottom: 1.875rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #CD4F83;
  }
  .menu__link:hover::after {
    left: 0.3125rem;
    width: 100%;
  }
  .footer__contacts-link:hover {
    background-color: #CD4F83;
    transform: scale(0.98);
    color: #F5F5F5;
    border: 0.069375rem solid #CD4F83;
  }
  .button:hover {
    transform: scale(0.97);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .button-accent:hover {
    background-color: rgba(222, 79, 44, 0.8);
  }
}